<h1><strong>Welcome to the MOOCademy</strong></h1>

<div class="center jumbotron">
  <h2>Cours Ruby</h2>

  <p> Dans ce cours vous apprendrez à utiliser le langage Ruby.</p>
	<%= link_to "Accèder au cours", ruby_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <h2>Cours Ruby on Rails</h2>

  <p> Dans ce cours vous apprendrez à utiliser le plus célèbre des frameworks du langage Ruby. Ce framehwork est utilisé par des sites comme Airbnb ou encore GitHub.</p>
  <%= link_to "Accèder au cours", ror_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <h2>Cours HTML/CSS</h1>

  <p>Dans ce cours vous apprendrez à créer et éditer vos propres pages web comme un grand. </p> <%= link_to "Accèder au cours", htmlcss_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <h2>Cours JavaScript</h2>

  <p> Dans ce cours vous apprendrez à utiliser le langage le plus en vogue du moment. Le seul langage qui permet d'ajouter des effets de ouf à vos pages web ! </p>
	<%= link_to "Accèder au cours", javascript_path, class: "btn btn-lg btn-primary" %>
</div>