<div class="center jumbotron">
	<h2>Introduction à Ruby</h2>
  	<p> Brève introduction au langage Ruby. </p>
	<%= link_to "Introduction", "#", class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
	<h2>Introduction à la POO avec Ruby</h1>
  	<p> Initiation à la programmation orientée objet avec Ruby</p>
	<%= link_to "POO avec Ruby", "#", class: "btn btn-lg btn-primary" %>
</div>